In [1]:
import numpy as np
import math as mt
import matplotlib.pyplot as plt
import pandas as pd
import requests
import os

### Create a single arrangement of years and one of sunspots with various ways

#### 1) To make a cicle using 'usecols'

In [2]:
def dow(x,y): # usamos una función para calcular el tiempo que se tarda haciedo el ciclo
    for i in range(5):
        x = np.concatenate((x,np.loadtxt('sunspots.txt',skiprows=4,usecols=(i*2),unpack=True)),axis = None)
        y = np.concatenate((y,np.loadtxt('sunspots.txt',skiprows=4,usecols=((i*2)+1),unpack=True)),axis = None)
    return x,y

In [3]:
year_1 = np.array([])
num_1 = np.array([])
%time year_1, num_1 = dow(year_1,num_1)

CPU times: user 6.53 ms, sys: 0 ns, total: 6.53 ms
Wall time: 7.58 ms

It is the slowest method that i used.

#### 2) To make a cicle but firts save the data in a single array

In [4]:
sunspots = np.loadtxt('sunspots.txt',skiprows=4, unpack=True)
print(sunspots.shape)

(10, 60)

In [5]:
def dow_1(s): # usamos una función para calcular el tiempo que se tarda haciedo el ciclo
    x = np.array([])
    y = np.array([])
    for i in range(5):
        x = np.concatenate((x,s[i*2,::2]),axis = None)
        y = np.concatenate((y,s[(i*2)+1,::2]),axis = None)
    return x,y

In [6]:
%time year_2,num_2 = dow_1(sunspots)

CPU times: user 565 µs, sys: 123 µs, total: 688 µs
Wall time: 406 µs

Is best save first  the data, its help to reduce time

#### 3) Using feature of the arrays and np.reshape:

In [7]:
%time sunspots = np.loadtxt('sunspots.txt',skiprows=4, unpack=True)
print(sunspots.shape)

CPU times: user 2.22 ms, sys: 0 ns, total: 2.22 ms
Wall time: 2.83 ms
(10, 60)

In [8]:
%time year_3 , num_3 = np.reshape(sunspots[::2],(1,300)),np.reshape(sunspots[1::2],(1,300))

CPU times: user 187 µs, sys: 0 ns, total: 187 µs
Wall time: 174 µs

Time is $\mu s$, it's the best way I could do

### 2.- Leer y realizar los ejemplos del capitulo 2 de https://jakevdp.github.io/PythonDataScienceHandbook/index.html Usando como base de datos alguno de los archivos descargados en el punto 1.

Ya descargados los archivos .txt los cargamos:

In [112]:
path_ll_18 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000Lluv.csv'
path_Mx_18 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000TMax.csv'
path_Mm_18 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000TMin.csv'
path_Md_18 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000TMed.csv'
path_ll_19 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201905010000Lluv.csv'
path_Mx_19 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201901010000TMax.csv'
path_Mm_19 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201901010000TMin.csv'
path_Md_19 = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201901010000TMed.csv'


lluvias_2018 = pd.read_csv(path_ll_18,encoding='latin-1')
Maxima_2018 = pd.read_csv(path_Mx_18,encoding='latin-1')
Minima_2018 = pd.read_csv(path_Mm_18,encoding='latin-1')
Media_2018 = pd.read_csv(path_Md_18,encoding='latin-1')
lluvias_2019 = pd.read_csv(path_ll_19,encoding='latin-1')
Maxima_2019 = pd.read_csv(path_Mx_19,encoding='latin-1')
Minima_2019 = pd.read_csv(path_Mm_19,encoding='latin-1')
Media_2019 = pd.read_csv(path_Md_19,encoding='latin-1')

## 1. Objetos Series de Panda

Mostramos los valores de uno de los archivos como una forma familiar de numpy

In [113]:
print(lluvias_2018.values)
print('--------------------------')
print(lluvias_2018.values[1,4])

[[-102.309722 21.895 'AGS' 'AGSAG' 'Aguascalientes, Ags.' 25.8]
 [-102.466944 22.188610999999998 'AGS' 'ANVAG'
  'Cincuenta Aniversario, Ags.' 58.6]
 [-102.712222 21.849167 'AGS' 'CALVILLO' 'Calvillo, Ags. SMN*' 56.0]
 ...
 [-101.2275 18.060556 'GRO' 'ZIHUAQUIOCFE' 'Coyuca de Catalán' 0.4]
 [-101.55488890000001 17.64505556 'GRO' 'ZIHUATANEJO'
  'Zihuatanejo de Azueta' 2.2]
 [-99.39080556 20.74022222 'HGO' 'ZIMAPANSMN' 'Zimapán' 9.8]]
--------------------------
Cincuenta Aniversario, Ags.

In [114]:
print(Maxima_2018.index)

RangeIndex(start=0, stop=1099, step=1)

In [115]:
lluvias_2018[4:20:2] # Como en un arreglo, muestra del renglon 1 al 20 con saltos de 2

           LON        LAT ESTADO CLAVE_SIH              NOMBRE   ENE
4  -102.197222  22.007222    AGS     CHOAG  Cañada Honda, Ags.  17.2
6  -102.000000  21.896389    AGS     CNSAG     Los Conos, Ags.  51.5
8  -102.788333  21.807500    AGS     MNLAG    Media Luna, Ags.  48.9
10 -102.290556  21.850833    AGS     OBSAG  Observatorio, Ags.  20.9
12 -101.966667  21.916667    AGS     PALAG     Palo Alto, Ags.  19.0
14 -102.417222  22.141111    AGS     PECAG        Calles, Ags.  50.0
16 -102.437500  22.235000    AGS     PTRAG   Potrerillos, Ags.  52.8
18 -102.127778  21.807778    AGS     TNJAG  La Tinaja II, Ags.  10.0

In [116]:
Media_2018[4:20:4]

       Lon    Lat  Clave   Edo          Est  Tmed
4   -92.80  16.55  ACACP  CHIS        ACALA  21.2
8   -96.84  19.70  ACAVC   VER      ACATLAN  12.8
12  -96.58  19.49  ACTVC   VER      ACTOPAN  20.0
16 -104.48  26.23  APRDR   DGO  AGUA PUERCA  10.5

Hago un arreglo propio:

In [117]:
My_exaple = pd.Series([['Oscar','Cristian','Liliana'], [22,27,24], ['Hombre','Hombre','Mujer'],[False,True,False]],
                      index=['Nombre', 'Edad', 'Sexo', 'Titulo'])
print(My_exaple)

Nombre    [Oscar, Cristian, Liliana]
Edad                    [22, 27, 24]
Sexo         [Hombre, Hombre, Mujer]
Titulo          [False, True, False]
dtype: object

In [118]:
print(My_exaple['Edad']) #Vemos solo la linea de edades

[22, 27, 24]

In [119]:
Edades = {'Cristian':27,'Liliana':24,'Oscar':22,'Pascual':57,'Graciela':52} 
print(Edades)

{'Cristian': 27, 'Liliana': 24, 'Oscar': 22, 'Pascual': 57, 'Graciela': 52}

In [120]:
Edades_pd = pd.Series(Edades) #Transformamos un diccionario a una série
print(Edades_pd)
print('------------------')
print('Oscar: ',Edades_pd['Oscar']) #Vemos la edad de Oscar
print('------------------')
print(Edades_pd['Liliana':'Pascual']) #vemos las edades de Liliana a Pascual

Cristian    27
Liliana     24
Oscar       22
Pascual     57
Graciela    52
dtype: int64
------------------
Oscar:  22
------------------
Liliana    24
Oscar      22
Pascual    57
dtype: int64

In [121]:
pd.Series(Edades,index=['Liliana','Graciela']) #Vemos las edades solo de Liliana y Graciela

Liliana     24
Graciela    52
dtype: int64

### Objetos DataFrame de Panda

Creamos un nuevos diccionarios que se aderirá al de edades para hacer uno solo

In [122]:
Sexo = {'Cristian':'H','Liliana':'M','Oscar':'H','Pascual':'H','Graciela':'M'} 
Sexo_pd = pd.Series(Sexo)
Trabajo = {'Cristian':True,'Liliana':False,'Oscar':False,'Pascual':True,'Graciela':False} 
Trabajo_pd = pd.Series(Trabajo)
Estudio = {'Cristian':'Licenciatura','Liliana':'Licenciatura','Oscar':'Bachillerato','Pascual':'Secundaria','Graciela':'Primaria'} 
Estudio_pd = pd.Series(Estudio)

In [123]:
family = pd.DataFrame({'EDAD':Edades_pd,'SEXO':Sexo_pd,'TRABAJO':Trabajo_pd,'ESTUDIO':Estudio_pd}) #Unimos las dos series de edad y sexo
print(family)

          EDAD SEXO  TRABAJO       ESTUDIO
Cristian    27    H     True  Licenciatura
Liliana     24    M    False  Licenciatura
Oscar       22    H    False  Bachillerato
Pascual     57    H     True    Secundaria
Graciela    52    M    False      Primaria

In [124]:
print(family.index)
print(family.columns)

Index(['Cristian', 'Liliana', 'Oscar', 'Pascual', 'Graciela'], dtype='object')
Index(['EDAD', 'SEXO', 'TRABAJO', 'ESTUDIO'], dtype='object')

In [125]:
family['ESTUDIO']

Cristian    Licenciatura
Liliana     Licenciatura
Oscar       Bachillerato
Pascual       Secundaria
Graciela        Primaria
Name: ESTUDIO, dtype: object

In [126]:
func = [{'$\ x$': i,'$\sin(x)$':np.sin(i),'$\cos(x)$':np.cos(i),'$e^{x}$':np.exp(i) } for i in range(8)]
pd.DataFrame(func)

   $\ x$  $\cos(x)$  $\sin(x)$      $e^{x}$
0      0   1.000000   0.000000     1.000000
1      1   0.540302   0.841471     2.718282
2      2  -0.416147   0.909297     7.389056
3      3  -0.989992   0.141120    20.085537
4      4  -0.653644  -0.756802    54.598150
5      5   0.283662  -0.958924   148.413159
6      6   0.960170  -0.279415   403.428793
7      7   0.753902   0.656987  1096.633158

In [127]:
a = pd.Index([2,9,5,9,5,8,6,5,6,8,4,5,2,4,4,5,52,5,2,4,4,5,9,6,5,2,5,4,5,63,1,89])
b = pd.Index([2,9,7,3,5,1,7,8,6,8,4,6,5,8,55,6,3,7,44,6,9,32,7,5,5,5,8,6,9,7,6,9,8,5,120])

In [128]:
print(a&b) #intersección
print(a^b) #diferencias

Int64Index([2, 9, 9, 9, 9, 5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 6, 6, 6, 6, 6, 6,
            4, 1],
           dtype='int64')
Int64Index([3, 7, 32, 44, 52, 55, 63, 89, 120], dtype='int64')

## 2. Indización y selección de datos

In [129]:
print(lluvias_2018.keys())
print(Media_2018.keys())
print(Maxima_2018.keys())
print(Minima_2018.keys())

Index(['LON', 'LAT', 'ESTADO', 'CLAVE_SIH', 'NOMBRE', 'ENE'], dtype='object')
Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmed'], dtype='object')
Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmax'], dtype='object')
Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmin'], dtype='object')

In [130]:
print('ESTADO' in lluvias_2018) #Si exixte el elemento Estado 
print('NOMBRE' in lluvias_2018)
print('MES' in lluvias_2018)

True
True
False

In [131]:
#list(lluvias_2018.items())

In [132]:
family.keys()

Index(['EDAD', 'SEXO', 'TRABAJO', 'ESTUDIO'], dtype='object')

In [133]:
#Cambiamos las edaes y trabajos de toda la familia
family['EDAD']  = 10
family['TRABAJO'] = False
family

          EDAD SEXO  TRABAJO       ESTUDIO
Cristian    10    H    False  Licenciatura
Liliana     10    M    False  Licenciatura
Oscar       10    H    False  Bachillerato
Pascual     10    H    False    Secundaria
Graciela    10    M    False      Primaria

In [134]:
#Mascaras
# Tomamos un rango de ENE y solo escojemos el estado del DF
lluvias_2018[(lluvias_2018['ENE']> 10) & (lluvias_2018['ENE'] < 12) & (lluvias_2018['ESTADO'] == 'DF' )]

,LON,LAT,ESTADO,CLAVE_SIH,NOMBRE,ENE
261,-99.171667,19.453333,DF,CBIDF,ESC. NAL. DE CIENCIAS BIOLOGICAS IPN SMN,11.7
281,-99.057778,19.433333,DF,PBCDF,"P. B. Churubusco L., D.F.",10.7
288,-99.068333,19.420278,DF,PLMDF,"P. B. López Mateos, D.F.",10.7
301,-99.275000,19.328611,DF,SBADF,"San Bartolo Ameyalco, D.F.",10.2
314,-99.212500,19.361944,DF,TRGDF,"Tarango, D.F.",10.9
1300,-99.200342,19.311528,DF,CCHS,Coyoacán,10.8
1562,-99.069222,19.421088,DF,LOPEZMATEOS,Venustiano Carranza,10.4
1607,-99.127742,19.365688,DF,MUNICIPIOLIBRE,Iztapalapa,11.2
1703,-99.155414,19.515002,DF,REMEDIOS,Gustavo A. Madero,10.1
1796,-99.212690,19.360928,DF,TARANGO,Álvaro Obregón,10.7
1819,-99.099722,19.385278,DF,TEZONTLE,Iztacalco,10.6
1869,-99.144611,19.332867,DF,XOTEPINGO,Coyoacán,10.2

In [142]:
# Tomamos un rango de MAY y solo escojemos el estado del DF para 2019
lluvias_2019[(lluvias_2019['MAY']> 10) & (lluvias_2019['MAY'] < 12) & (lluvias_2019['EDO'] == 'DF' )]

,LON,LAT,EDO,CLAVE_SIH,NOMBRE,MAY
247,-99.309167,19.313333,DF,DTLDF,"Desierto de los Leones, Cd. de Méx.",11.42
251,-99.352222,19.295000,DF,EZCDF,"El Zarco, Cd. de Méx.",10.41
264,-99.037778,19.380000,DF,PBODF,"Planta de Bombeo U. E. de Oriente, Cd. de Méx.",11.42
286,-99.122222,19.572222,DF,SGDDF,"Sierra Guadalupe, Cd. de Méx.",11.68

In [32]:
# Tomamos sólo los datos de Purísima del Rincón para 2018
lluvias_2018[(lluvias_2018['ESTADO'] == 'GTO' ) & (lluvias_2018['NOMBRE'] == 'Purísima del Rincón')]

             LON        LAT ESTADO  CLAVE_SIH               NOMBRE  ENE
1395 -101.838389  21.048639    GTO  ELBARRIAL  Purísima del Rincón  3.8
1425 -101.889028  20.877861    GTO    ELTIGRE  Purísima del Rincón  1.2

In [141]:
# Tomamos sólo los datos de Purísima del Rincón para 2019
lluvias_2019[(lluvias_2019['EDO'] == 'GTO' ) & (lluvias_2019['NOMBRE'] == 'Purísima del Rincón')]

Empty DataFrame
Columns: [LON, LAT, EDO, CLAVE_SIH, NOMBRE, MAY]
Index: []

In [143]:
#Vemos la temperatura Media de GTO en 2018
Media_2018[(Media_2018['Tmed']>15 ) & (Media_2018['Edo'] == 'GTO')]

        Lon    Lat         Clave  Edo                      Est  Tmed
0   -101.51  20.43         ABSGJ  GTO                  ABASOLO  16.2
115 -100.95  20.48         CRTGJ  GTO                 CORTAZAR  15.1
125 -101.66  20.61         CRMGJ  GTO                CUERAMARO  15.6
201 -101.35  20.68         IRPGJ  GTO                 IRAPUATO  15.4
229 -101.66  21.10         LENGJ  GTO                     LEON  16.0
432 -100.75  20.28         TARGJ  GTO                 TARIMORO  15.3
438 -101.30  20.60         TEMGJ  GTO               TEMASCATIO  16.5
543 -101.23  21.20         CSTGJ  GTO            LOS CASTILLOS  15.1
568 -101.20  20.56         SLMGJ  GTO                SALAMANCA  15.2
574 -101.20  20.90         ECHGJ  GTO                EL CHAPIN  15.2
592 -100.81  20.05         SLSGJ  GTO              PRESA SOLIS  15.2
659 -101.75  20.43         GLNGJ  GTO      PRESA LA GOLONDRINA  16.4
742 -100.68  20.53         AEGGJ  GTO         APASEO EL GRANDE  16.3
789 -101.36  20.28         LJIGJ  GTO         Las Jicamas Gto.  15.5
997 -101.25  21.02  GUANAJUATOOB  GTO  OBSERVATORIO GUANAJUATO  15.2

In [144]:
#Vemos la temperatura Media de GTO en 2019
Media_2019[(Media_2019['Tmed']>15 ) & (Media_2019['Edo'] == 'GTO')]

        Lon    Lat  Clave  Edo                      Est       Tmed
16  -101.29  21.01  76577  GTO               GUANAJUATO  15.238889
45  -101.47  21.07  COMGJ  GTO          Comanjilla Gto.  15.846774
71  -100.75  20.58  SMOGJ  GTO  San Miguel Octopan Gto.  15.064516
207 -100.72  20.03  ACNGJ  GTO            Acámbaro Gto.  16.177419
208 -100.67  20.05  SLSGJ  GTO               Solís Gto.  16.290323
210 -100.90  20.28  ECBGJ  GTO             El Cubo Gto.  15.241935
211 -100.88  20.21  SLVGJ  GTO         Salvatierra Gto.  16.346774
212 -101.36  20.28  LJIGJ  GTO         Las Jícamas Gto.  16.612903
213 -100.75  20.28  TARGJ  GTO            Tarimoro Gto.  16.233871
215 -101.07  20.30  SRTGJ  GTO          Santa Rita Gto.  15.741935
217 -101.02  20.40  SJLGJ  GTO         Santa Julia Gto.  15.798387
218 -101.52  20.43  ABSGJ  GTO             Abasolo Gto.  17.508065
219 -101.74  20.44  GLNGJ  GTO       La Golondrina Gto.  16.516129
220 -100.62  20.45  APSGJ  GTO      Apaseo el Alto Gto.  16.895161
221 -100.95  20.48  CRTGJ  GTO            Cortázar Gto.  16.548387
222 -101.63  20.50  ATBGJ  GTO          Agua Tibia Gto.  15.693548
223 -101.13  20.52  PERGJ  GTO             Pericos Gto.  15.427419
224 -100.82  20.53  CLYGJ  GTO              Celaya Gto.  17.209677
225 -100.68  20.53  AEGGJ  GTO    Apaseo el Grande Gto.  17.927419
226 -100.58  20.55  AMCGJ  GTO              Ameche Gto.  15.927419
227 -101.20  20.57  SLMGJ  GTO           Salamanca Gto.  16.959677
228 -101.30  20.60  TEMGJ  GTO          Temascatío Gto.  17.822581
229 -101.67  20.62  CRMGJ  GTO           Cuerámaro Gto.  18.129032
231 -101.35  20.68  IRPGJ  GTO            Irapuato Gto.  16.532258
232 -101.37  20.73  ECNGJ  GTO           El Conejo Gto.  15.362903
233 -100.83  20.85  IALGJ  GTO     Ignacio Allende Gto.  15.427419
234 -101.29  20.87  PRSGJ  GTO         La Purísima Gto.  16.645161
236 -101.26  21.01  GTOGJ  GTO          Guanajuato Gto.  15.909677
238 -101.67  21.10  LENGJ  GTO                León Gto.  17.790323
239 -100.93  21.15  DHGGJ  GTO     Dolores Hidalgo Gto.  15.258065
240 -101.69  21.17  EPLGJ  GTO           El Palote Gto.  16.080645
241 -101.67  21.20  CSTGJ  GTO       Los Castillos Gto.  16.467742
243 -100.09  21.30  XICGJ  GTO               Xichú Gto.  17.308333

### loc, iloc, and ix

In [34]:
lluvias_2018.loc[0] #Muestra los datos de cada linea

LON                       -102.31
LAT                        21.895
ESTADO                        AGS
CLAVE_SIH                   AGSAG
NOMBRE       Aguascalientes, Ags.
ENE                          25.8
Name: 0, dtype: object

In [35]:
Media_2018.loc[0]

Lon      -101.51
Lat        20.43
Clave      ABSGJ
Edo          GTO
Est      ABASOLO
Tmed        16.2
Name: 0, dtype: object

In [36]:
Media_2018.Tmed[0:8] # Es igual que Media_2018['Tmed'] (se cortó para que no despliegue todo el contenido)

0    16.2
1    15.0
2    16.7
3    12.3
4    21.2
5    15.0
6    27.2
7    25.4
Name: Tmed, dtype: float64

#### DataFrame como arreglo de 2 dimeciones

Podemos intercambiar renglones por columnas

In [37]:
lluvias_2018[:5].T

,0,1,2,3,4
LON,-102.31,-102.467,-102.712,-102.677,-102.197
LAT,21.895,22.1886,21.8492,21.9975,22.0072
ESTADO,AGS,AGS,AGS,AGS,AGS
CLAVE_SIH,AGSAG,ANVAG,CALVILLO,CDRAG,CHOAG
NOMBRE,"Aguascalientes, Ags.","Cincuenta Aniversario, Ags.","Calvillo, Ags. SMN*","La Codorniz, Ags.","Cañada Honda, Ags."
ENE,25.8,58.6,56,50,17.2

In [38]:
Media_2018.iloc[:20,3:6:2].T #Solo mostramos El estado y Temperatura media 
#Usamos iloc para poder arreglar los datos como un arreglo

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Edo,GTO,TAMPS,BC,PUE,CHIS,GTO,GRO,GRO,VER,ZAC,SON,HGO,VER,SIN,GRO,COAH,DGO,GTO,AGS,AGS
Tmed,16.2,15,16.7,12.3,21.2,15,27.2,25.4,12.8,12.8,14.8,13.3,20,20.1,21.3,10,10.5,13.5,13.2,14

In [39]:
Media_2018.T.loc['Edo':'Tmed':2,:20]
#Usamos loc para poder arreglar los datos como un arreglo Pero usando caracteres

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Edo,GTO,TAMPS,BC,PUE,CHIS,GTO,GRO,GRO,VER,ZAC,...,HGO,VER,SIN,GRO,COAH,DGO,GTO,AGS,AGS,DGO
Tmed,16.2,15,16.7,12.3,21.2,15,27.2,25.4,12.8,12.8,...,13.3,20,20.1,21.3,10,10.5,13.5,13.2,14,12.5

In [99]:
Media_2018.loc[Media_2018.Tmed>27., ['Edo','Tmed']].T #Temperatura media mayor a 27 de los Estados en 2018

,6,198,283,429,430,437,572,714,717,718,743,797,910,935,1010,1018
Edo,GRO,CHIS,GRO,CHIS,CHIS,COL,GRO,CHIS,CHIS,MICH,MICH,CHIS,GRO,MICH,CHIS,GRO
Tmed,27.2,27.2,27.2,28.2,28.1,27.7,28.5,27.1,27.4,27.8,27.5,27.8,27.1,28.2,27.3,27.1

In [145]:
Media_2019.loc[Media_2019.Tmed>27., ['Edo','Tmed']].T #Temperatura media mayor a 27 de los Estados en 2019

,0,2,20,96,143,169,171,191,283,323,555,585
Edo,GRO,CHIS,COL,CHIS,CHIS,COL,COL,GRO,MICH,OAX,GRO,CHIS
Tmed,27.4419,28.0887,27.1371,28.3968,28.1161,27.1177,27.0484,27.4694,28.5,27.4597,29.8,29.5081

Aqui modificamos algunos datos de 'family':

In [146]:
family.loc['Cristian','EDAD'] = 27 #Usamos loc para ubicar el lugar donde queremos cambira el dato 
family.loc['Liliana','EDAD'] = 24
family.loc['Oscar','EDAD'] = 22
family.loc['Pascual','EDAD'] = 57
family.loc['Graciela','EDAD'] = 52

In [101]:
family

          EDAD SEXO  TRABAJO       ESTUDIO
Cristian    27    H    False  Licenciatura
Liliana     24    M    False  Licenciatura
Oscar       22    H    False  Bachillerato
Pascual     57    H    False    Secundaria
Graciela    52    M    False      Primaria

## Operando en datos en pandas

Para esto usamos los arreglos de year y num del ejercicio anterior

In [177]:
manchas_sol = pd.DataFrame(np.reshape(np.append(year_3,num_3),(2,300)).T,columns=['Años','num'])

In [180]:
manchas_sol[0:10]

     Años   num
0  1701.0  11.0
1  1702.0  16.0
2  1703.0  23.0
3  1704.0  36.0
4  1705.0  58.0
5  1706.0  29.0
6  1707.0  20.0
7  1708.0  10.0
8  1709.0   8.0
9  1710.0   3.0

Aplicamos operadores de numpy al objeto:

In [188]:
np.log(manchas_sol.num[0:9]) #hacemos el logaritmo de los primero datos de num

0    2.397895
1    2.772589
2    3.135494
3    3.583519
4    4.060443
5    3.367296
6    2.995732
7    2.302585
8    2.079442
Name: num, dtype: float64

In [191]:
np.mean(manchas_sol.num) #Podemos obtener el promedio de las manchas solares

49.979

In [207]:
lluvias_2018.keys() | lluvias_2019.keys() #Union de los indices de las columnas de cada objeto

Index(['CLAVE_SIH', 'EDO', 'ENE', 'ESTADO', 'LAT', 'LON', 'MAY', 'NOMBRE'], dtype='object')

In [208]:
print(lluvias_2018.index)
print(lluvias_2019.index)

RangeIndex(start=0, stop=1884, step=1)
RangeIndex(start=0, stop=1221, step=1)

In [227]:
print(lluvias_2018.ENE[1215:1225])
print(lluvias_2019.MAY[1210:])

1215    22.4
1216    17.2
1217    29.8
1218    43.3
1219     0.0
1220     0.0
1221     0.0
1222    20.0
1223     1.9
1224     0.0
Name: ENE, dtype: float64
1210    2.32
1211    0.40
1212    2.80
1213    1.00
1214    4.21
1215    0.00
1216    4.00
1217    0.02
1218    0.00
1219    4.51
1220    0.00
Name: MAY, dtype: float64

In [232]:
lluvias_2018.ENE[1215:1225] + lluvias_2019.MAY[1210:]

1210      NaN
1211      NaN
1212      NaN
1213      NaN
1214      NaN
1215    22.40
1216    21.20
1217    29.82
1218    43.30
1219     4.51
1220     0.00
1221      NaN
1222      NaN
1223      NaN
1224      NaN
dtype: float64

In [226]:
lluvias_2018.ENE[1215:1225].add(lluvias_2019.MAY[1210:], fill_value=0) 
#add. para sumar los arreglos de 2018 y 2019 haciendo un arreglo con la interseccion de ambos

1210     2.32
1211     0.40
1212     2.80
1213     1.00
1214     4.21
1215    22.40
1216    21.20
1217    29.82
1218    43.30
1219     4.51
1220     0.00
1221     0.00
1222    20.00
1223     1.90
1224     0.00
dtype: float64

In [230]:
lluvias_2018.ENE[1215:1225].subtract(lluvias_2019.MAY[1210:], fill_value=0)

1210    -2.32
1211    -0.40
1212    -2.80
1213    -1.00
1214    -4.21
1215    22.40
1216    13.20
1217    29.78
1218    43.30
1219    -4.51
1220     0.00
1221     0.00
1222    20.00
1223     1.90
1224     0.00
dtype: float64

## Handling Missing Data

In [237]:
arr_nul = lluvias_2018.ENE[1215:1225] + lluvias_2019.MAY[1210:]

In [238]:
np.nansum(arr_nul)

121.22999999999999

In [239]:
np.nanmin(arr_nul)

0.0

In [240]:
np.nanmax(arr_nul)

43.3

In [241]:
arr_nul.isnull() #cuales elementos son nulos

1210     True
1211     True
1212     True
1213     True
1214     True
1215    False
1216    False
1217    False
1218    False
1219    False
1220    False
1221     True
1222     True
1223     True
1224     True
dtype: bool

In [246]:
arr_nul.notnull() #suales elementos no son nulos

1210    False
1211    False
1212    False
1213    False
1214    False
1215     True
1216     True
1217     True
1218     True
1219     True
1220     True
1221    False
1222    False
1223    False
1224    False
dtype: bool

In [248]:
arr_nul[arr_nul.notnull()]

1215    22.40
1216    21.20
1217    29.82
1218    43.30
1219     4.51
1220     0.00
dtype: float64

In [255]:
arr_nul.dropna() #podemos simplificar lo anterior con dropnan

1215    22.40
1216    21.20
1217    29.82
1218    43.30
1219     4.51
1220     0.00
dtype: float64

In [257]:
arr_nul.fillna(0) #Podemos llenar los elementos NaN con ceros

1210     0.00
1211     0.00
1212     0.00
1213     0.00
1214     0.00
1215    22.40
1216    21.20
1217    29.82
1218    43.30
1219     4.51
1220     0.00
1221     0.00
1222     0.00
1223     0.00
1224     0.00
dtype: float64

In [258]:
arr_nul.fillna(method='ffill') #Llenar los NaN con los elementos previos

1210      NaN
1211      NaN
1212      NaN
1213      NaN
1214      NaN
1215    22.40
1216    21.20
1217    29.82
1218    43.30
1219     4.51
1220     0.00
1221     0.00
1222     0.00
1223     0.00
1224     0.00
dtype: float64

In [260]:
arr_nul.fillna(method='bfill') #Llenar los NaN con los elementos siguientes

1210    22.40
1211    22.40
1212    22.40
1213    22.40
1214    22.40
1215    22.40
1216    21.20
1217    29.82
1218    43.30
1219     4.51
1220     0.00
1221      NaN
1222      NaN
1223      NaN
1224      NaN
dtype: float64

## Indexación jerárquica

Creamos un objeto con caracter Jerárquico

In [374]:
M_GTO_18 = Media_2018[ (Media_2018.Edo == 'GTO') & (Media_2018.Est == 'LEON')^ (Media_2018.Est == 'IRAPUATO')^ (Media_2018.Est == 'SALAMANCA')]

In [376]:
M_GTO_19 = Media_2019[(Media_2019.Edo == 'GTO') & (Media_2019.Est == 'León Gto.')^(Media_2019.Est == 'Irapuato Gto.')^(Media_2019.Est == 'Salamanca Gto.')]

In [378]:
M_GTO_18.T

            201     229        568
Lon     -101.35 -101.66     -101.2
Lat       20.68    21.1      20.56
Clave     IRPGJ   LENGJ      SLMGJ
Edo         GTO     GTO        GTO
Est    IRAPUATO    LEON  SALAMANCA
Tmed       15.4      16       15.2

MultiIndex(levels=[['C', 'E', 'L', 'T'], ['a', 'd', 'l', 'm', 'o', 's'], ['a', 'e', 'n', 'o', 't']],
           codes=[[2, 2, 0, 1, 1, 3], [4, 0, 2, 1, 5, 3], [2, 4, 0, 3, 4, 1]])