In [1]:
import numpy as np
import math as mt
import matplotlib.pyplot as plt
import pandas as pd
import requests
import os

### Create a single arrangement of years and one of sunspots with various ways

#### 1) To make a cicle using 'usecols'

In [2]:
def dow(x,y): # usamos una función para calcular el tiempo que se tarda haciedo el ciclo
    for i in range(5):
        x = np.concatenate((x,np.loadtxt('sunspots.txt',skiprows=4,usecols=(i*2),unpack=True)),axis = None)
        y = np.concatenate((y,np.loadtxt('sunspots.txt',skiprows=4,usecols=((i*2)+1),unpack=True)),axis = None)
    return x,y

In [3]:
year_1 = np.array([])
num_1 = np.array([])
%time year_1, num_1 = dow(year_1,num_1)

CPU times: user 6.77 ms, sys: 7.81 ms, total: 14.6 ms
Wall time: 16.7 ms

It is the slowest method that i used.

#### 2) To make a cicle but firts save the data in a single array

In [4]:
sunspots = np.loadtxt('sunspots.txt',skiprows=4, unpack=True)
print(sunspots.shape)

(10, 60)

In [5]:
def dow_1(s): # usamos una función para calcular el tiempo que se tarda haciedo el ciclo
    x = np.array([])
    y = np.array([])
    for i in range(5):
        x = np.concatenate((x,s[i*2,::2]),axis = None)
        y = np.concatenate((y,s[(i*2)+1,::2]),axis = None)
    return x,y

In [6]:
%time year_2,num_2 = dow_1(sunspots)

CPU times: user 793 µs, sys: 169 µs, total: 962 µs
Wall time: 589 µs

Is best save first  the data, its help to reduce time

#### 3) Using feature of the arrays and np.reshape:

In [7]:
%time sunspots = np.loadtxt('sunspots.txt',skiprows=4, unpack=True)
print(sunspots.shape)

CPU times: user 2.95 ms, sys: 0 ns, total: 2.95 ms
Wall time: 2.98 ms
(10, 60)

In [8]:
%time year_3 , num_3 = np.reshape(sunspots[::2],(1,300)),np.reshape(sunspots[1::2],(1,300))

CPU times: user 111 µs, sys: 0 ns, total: 111 µs
Wall time: 98.7 µs

Time is $\mu s$, it's the best way I could do

### 2.- Leer y realizar los ejemplos del capitulo 2 de https://jakevdp.github.io/PythonDataScienceHandbook/index.html Usando como base de datos alguno de los archivos descargados en el punto 1.

Ya descargados los archivos .txt los cargamos:

In [108]:
path_ll = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000Lluv.csv'
path_Mx = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000TMax.csv'
path_Mm = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000TMin.csv'
path_Md = '/home/echeveste/Mis_trabajos/analisis_datos/da2019-Oscar2401/Semana2/Tareas/dato_temperaturas_lluvia/201801010000TMed.csv'

lluvias_2018 = pd.read_csv(path_ll,encoding='latin-1')
Maxima_2018 = pd.read_csv(path_Mx,encoding='latin-1')
Minima_2018 = pd.read_csv(path_Mm,encoding='latin-1')
Media_2018 = pd.read_csv(path_Md,encoding='latin-1')

## Objetos Series de Panda

Mostramos los valores de uno de los archivos como una forma familiar de numpy

In [177]:
print(lluvias_2018.values)
print('--------------------------')
print(lluvias_2018.values[1,4])

[[-102.309722 21.895 'AGS' 'AGSAG' 'Aguascalientes, Ags.' 25.8]
 [-102.466944 22.188610999999998 'AGS' 'ANVAG'
  'Cincuenta Aniversario, Ags.' 58.6]
 [-102.712222 21.849167 'AGS' 'CALVILLO' 'Calvillo, Ags. SMN*' 56.0]
 ...
 [-101.2275 18.060556 'GRO' 'ZIHUAQUIOCFE' 'Coyuca de Catalán' 0.4]
 [-101.55488890000001 17.64505556 'GRO' 'ZIHUATANEJO'
  'Zihuatanejo de Azueta' 2.2]
 [-99.39080556 20.74022222 'HGO' 'ZIMAPANSMN' 'Zimapán' 9.8]]
--------------------------
Cincuenta Aniversario, Ags.

In [115]:
print(Maxima_2018.index)

RangeIndex(start=0, stop=1099, step=1)

In [170]:
lluvias_2018[4:20:2] # Como en un arreglo, muestra del renglon 1 al 20 con saltos de 2

           LON        LAT ESTADO CLAVE_SIH              NOMBRE   ENE
4  -102.197222  22.007222    AGS     CHOAG  Cañada Honda, Ags.  17.2
6  -102.000000  21.896389    AGS     CNSAG     Los Conos, Ags.  51.5
8  -102.788333  21.807500    AGS     MNLAG    Media Luna, Ags.  48.9
10 -102.290556  21.850833    AGS     OBSAG  Observatorio, Ags.  20.9
12 -101.966667  21.916667    AGS     PALAG     Palo Alto, Ags.  19.0
14 -102.417222  22.141111    AGS     PECAG        Calles, Ags.  50.0
16 -102.437500  22.235000    AGS     PTRAG   Potrerillos, Ags.  52.8
18 -102.127778  21.807778    AGS     TNJAG  La Tinaja II, Ags.  10.0

In [352]:
Media_2018[4:20:4]

       Lon    Lat  Clave   Edo          Est  Tmed
4   -92.80  16.55  ACACP  CHIS        ACALA  21.2
8   -96.84  19.70  ACAVC   VER      ACATLAN  12.8
12  -96.58  19.49  ACTVC   VER      ACTOPAN  20.0
16 -104.48  26.23  APRDR   DGO  AGUA PUERCA  10.5

Hago un arreglo propio:

In [190]:
My_exaple = pd.Series([['Oscar','Cristian','Liliana'], [22,27,24], ['Hombre','Hombre','Mujer'],[False,True,False]],
                      index=['Nombre', 'Edad', 'Sexo', 'Titulo'])
print(My_exaple)

Nombre    [Oscar, Cristian, Liliana]
Edad                    [22, 27, 24]
Sexo         [Hombre, Hombre, Mujer]
Titulo          [False, True, False]
dtype: object

In [191]:
print(My_exaple['Edad'])

[22, 27, 24]

In [192]:
Edades = {'Cristian':27,'Liliana':24,'Oscar':22,'Pascual':57,'Graciela':52} 
print(Edades)

{'Cristian': 27, 'Liliana': 24, 'Oscar': 22, 'Pascual': 57, 'Graciela': 52}

In [193]:
Edades_pd = pd.Series(Edades) #Transformamos un diccionario a una série
print(Edades_pd)
print('------------------')
print('Oscar: ',Edades_pd['Oscar'])
print('------------------')
print(Edades_pd['Liliana':'Pascual'])

Cristian    27
Liliana     24
Oscar       22
Pascual     57
Graciela    52
dtype: int64
------------------
Oscar:  22
------------------
Liliana    24
Oscar      22
Pascual    57
dtype: int64

In [194]:
pd.Series(Edades,index=['Liliana','Graciela'])

Liliana     24
Graciela    52
dtype: int64

### Objetos DataFrame de Panda

Creamos un nuevos diccionarios que se aderirá al de edades para hacer uno solo

In [214]:
Sexo = {'Cristian':'H','Liliana':'M','Oscar':'H','Pascual':'H','Graciela':'M'} 
Sexo_pd = pd.Series(Sexo)
Trabajo = {'Cristian':True,'Liliana':False,'Oscar':False,'Pascual':True,'Graciela':False} 
Trabajo_pd = pd.Series(Trabajo)
Estudio = {'Cristian':'Licenciatura','Liliana':'Licenciatura','Oscar':'Bachillerato','Pascual':'Secundaria','Graciela':'Primaria'} 
Estudio_pd = pd.Series(Estudio)

In [215]:
family = pd.DataFrame({'EDAD':Edades_pd,'SEXO':Sexo_pd,'TRABAJO':Trabajo_pd,'ESTUDIO':Estudio_pd}) #Unimos las dos series de edad y sexo
print(family)

          EDAD SEXO  TRABAJO       ESTUDIO
Cristian    27    H     True  Licenciatura
Liliana     24    M    False  Licenciatura
Oscar       22    H    False  Bachillerato
Pascual     57    H     True    Secundaria
Graciela    52    M    False      Primaria

In [216]:
print(family.index)
print(family.columns)

Index(['Cristian', 'Liliana', 'Oscar', 'Pascual', 'Graciela'], dtype='object')
Index(['EDAD', 'SEXO', 'TRABAJO', 'ESTUDIO'], dtype='object')

In [213]:
family['ESTUDIO']

Cristian    Licenciatura
Liliana     Licenciatura
Oscar       Bachillerato
Pascual       Secundaria
Graciela        Primaria
Name: ESTUDIO, dtype: object

In [258]:
func = [{'$\ x$': i,'$\sin(x)$':np.sin(i),'$\cos(x)$':np.cos(i),'$e^{x}$':np.exp(i) } for i in range(8)]
pd.DataFrame(func)

   $\ x$  $\cos(x)$  $\sin(x)$      $e^{x}$
0      0   1.000000   0.000000     1.000000
1      1   0.540302   0.841471     2.718282
2      2  -0.416147   0.909297     7.389056
3      3  -0.989992   0.141120    20.085537
4      4  -0.653644  -0.756802    54.598150
5      5   0.283662  -0.958924   148.413159
6      6   0.960170  -0.279415   403.428793
7      7   0.753902   0.656987  1096.633158

In [260]:
a = pd.Index([2,9,5,9,5,8,6,5,6,8,4,5,2,4,4,5,52,5,2,4,4,5,9,6,5,2,5,4,5,63,1,89])
b = pd.Index([2,9,7,3,5,1,7,8,6,8,4,6,5,8,55,6,3,7,44,6,9,32,7,5,5,5,8,6,9,7,6,9,8,5,120])

In [265]:
print(a&b) #intersección
print(a^b) #diferencias

Int64Index([2, 9, 9, 9, 9, 5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 6, 6, 6, 6, 6, 6,
            4, 1],
           dtype='int64')
Int64Index([3, 7, 32, 44, 52, 55, 63, 89, 120], dtype='int64')

## Indización y selección de datos

In [356]:
print(lluvias_2018.keys())
print(Media_2018.keys())
print(Maxima_2018.keys())
print(Minima_2018.keys())

Index(['LON', 'LAT', 'ESTADO', 'CLAVE_SIH', 'NOMBRE', 'ENE'], dtype='object')
Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmed'], dtype='object')
Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmax'], dtype='object')
Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmin'], dtype='object')

In [294]:
print('ESTADO' in lluvias_2018) #Si exixte el elemento Estado 
print('NOMBRE' in lluvias_2018)
print('MES' in lluvias_2018)

True
True
False

In [299]:
#list(lluvias_2018.items())

In [308]:
family.keys()

Index(['EDAD', 'SEXO', 'TRABAJO', 'ESTUDIO'], dtype='object')

In [341]:
#Cambiamos las edaes y trabajos de toda la familia
family['EDAD']  = 10
family['TRABAJO'] = False
family

          EDAD SEXO  TRABAJO       ESTUDIO
Cristian    10    H    False  Licenciatura
Liliana     10    M    False  Licenciatura
Oscar       10    H    False  Bachillerato
Pascual     10    H    False    Secundaria
Graciela    10    M    False      Primaria

In [342]:
#Mascaras
# Tomamos un rango de ENE y solo escojemos el estado del DF
lluvias_2018[(lluvias_2018['ENE']> 10) & (lluvias_2018['ENE'] < 12) & (lluvias_2018['ESTADO'] == 'DF' )]

,LON,LAT,ESTADO,CLAVE_SIH,NOMBRE,ENE
261,-99.171667,19.453333,DF,CBIDF,ESC. NAL. DE CIENCIAS BIOLOGICAS IPN SMN,11.7
281,-99.057778,19.433333,DF,PBCDF,"P. B. Churubusco L., D.F.",10.7
288,-99.068333,19.420278,DF,PLMDF,"P. B. López Mateos, D.F.",10.7
301,-99.275000,19.328611,DF,SBADF,"San Bartolo Ameyalco, D.F.",10.2
314,-99.212500,19.361944,DF,TRGDF,"Tarango, D.F.",10.9
1300,-99.200342,19.311528,DF,CCHS,Coyoacán,10.8
1562,-99.069222,19.421088,DF,LOPEZMATEOS,Venustiano Carranza,10.4
1607,-99.127742,19.365688,DF,MUNICIPIOLIBRE,Iztapalapa,11.2
1703,-99.155414,19.515002,DF,REMEDIOS,Gustavo A. Madero,10.1
1796,-99.212690,19.360928,DF,TARANGO,Álvaro Obregón,10.7
1819,-99.099722,19.385278,DF,TEZONTLE,Iztacalco,10.6
1869,-99.144611,19.332867,DF,XOTEPINGO,Coyoacán,10.2

In [343]:
# Tomamos sólo los datos de Purísima del Rincón
lluvias_2018[(lluvias_2018['ESTADO'] == 'GTO' ) & (lluvias_2018['NOMBRE'] == 'Purísima del Rincón')]

             LON        LAT ESTADO  CLAVE_SIH               NOMBRE  ENE
1395 -101.838389  21.048639    GTO  ELBARRIAL  Purísima del Rincón  3.8
1425 -101.889028  20.877861    GTO    ELTIGRE  Purísima del Rincón  1.2

In [362]:
Media_2018[(Media_2018['Tmed']>15 ) & (Media_2018['Edo'] == 'GTO')]

        Lon    Lat         Clave  Edo                      Est  Tmed
0   -101.51  20.43         ABSGJ  GTO                  ABASOLO  16.2
115 -100.95  20.48         CRTGJ  GTO                 CORTAZAR  15.1
125 -101.66  20.61         CRMGJ  GTO                CUERAMARO  15.6
201 -101.35  20.68         IRPGJ  GTO                 IRAPUATO  15.4
229 -101.66  21.10         LENGJ  GTO                     LEON  16.0
432 -100.75  20.28         TARGJ  GTO                 TARIMORO  15.3
438 -101.30  20.60         TEMGJ  GTO               TEMASCATIO  16.5
543 -101.23  21.20         CSTGJ  GTO            LOS CASTILLOS  15.1
568 -101.20  20.56         SLMGJ  GTO                SALAMANCA  15.2
574 -101.20  20.90         ECHGJ  GTO                EL CHAPIN  15.2
592 -100.81  20.05         SLSGJ  GTO              PRESA SOLIS  15.2
659 -101.75  20.43         GLNGJ  GTO      PRESA LA GOLONDRINA  16.4
742 -100.68  20.53         AEGGJ  GTO         APASEO EL GRANDE  16.3
789 -101.36  20.28         LJIGJ  GTO         Las Jicamas Gto.  15.5
997 -101.25  21.02  GUANAJUATOOB  GTO  OBSERVATORIO GUANAJUATO  15.2

### loc, iloc, and ix

In [363]:
lluvias_2018.loc[0] #Muestra los datos de cada renglon

LON                       -102.31
LAT                        21.895
ESTADO                        AGS
CLAVE_SIH                   AGSAG
NOMBRE       Aguascalientes, Ags.
ENE                          25.8
Name: 0, dtype: object

In [368]:
Media_2018.loc[0]

Lon      -101.51
Lat        20.43
Clave      ABSGJ
Edo          GTO
Est      ABASOLO
Tmed        16.2
Name: 0, dtype: object

In [379]:
Media_2018.Tmed[0:8] # Es igual que Media_2018['Tmed'] (se cortó para que no despliegue todo el contenido)

0    16.2
1    15.0
2    16.7
3    12.3
4    21.2
5    15.0
6    27.2
7    25.4
Name: Tmed, dtype: float64

#### DataFrame como arreglo de 2 dimeciones

Podemos intercambiar renglones por columnas

In [419]:
lluvias_2018[:5].T

,0,1,2,3,4
LON,-102.31,-102.467,-102.712,-102.677,-102.197
LAT,21.895,22.1886,21.8492,21.9975,22.0072
ESTADO,AGS,AGS,AGS,AGS,AGS
CLAVE_SIH,AGSAG,ANVAG,CALVILLO,CDRAG,CHOAG
NOMBRE,"Aguascalientes, Ags.","Cincuenta Aniversario, Ags.","Calvillo, Ags. SMN*","La Codorniz, Ags.","Cañada Honda, Ags."
ENE,25.8,58.6,56,50,17.2

In [436]:
Media_2018.iloc[:20,3:6:2].T #Solo mostramos El estado y Temperatura media 
#Usamos iloc para poder arreglar los datos como un arreglo

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Edo,GTO,TAMPS,BC,PUE,CHIS,GTO,GRO,GRO,VER,ZAC,SON,HGO,VER,SIN,GRO,COAH,DGO,GTO,AGS,AGS
Tmed,16.2,15,16.7,12.3,21.2,15,27.2,25.4,12.8,12.8,14.8,13.3,20,20.1,21.3,10,10.5,13.5,13.2,14

In [467]:
Media_2018.T.loc['Edo':'Tmed':2,:20]
#Usamos loc para poder arreglar los datos como un arreglo Pero usando caracteres

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Edo,GTO,TAMPS,BC,PUE,CHIS,GTO,GRO,GRO,VER,ZAC,...,HGO,VER,SIN,GRO,COAH,DGO,GTO,AGS,AGS,DGO
Tmed,16.2,15,16.7,12.3,21.2,15,27.2,25.4,12.8,12.8,...,13.3,20,20.1,21.3,10,10.5,13.5,13.2,14,12.5